fieldset{
	border:none;
	display: inline-block;
}


#header{
	width: 100%;
	border: 2px solid black;
	height: 125px;
	display: block visible;
	text-align: right;
}

#header h1{
	text-align: center;
}


#searchbox{
	width: 350px;
	padding: 20px;
	display: inline-block;
	border: solid 2px black;
	height:300px;

}
 
.inputbox{
	width: 150px;
	height: 23px;
	margin: 5px;
}

.searchnode{
	display: block;
	padding: 10px 0px 10px 0px;
}

.searchnode *{
	display:inline;
}

#search-results{
	display:inline-block visible;
	width:1200px;
	height:300px;
	border: solid 2px black;
	overflow-y: scroll;
}

#search-results *{
	text-align: center;
}
table{
	padding: 0 100px 0 100px;
}

table *{
	padding: 5px 40px 5px 40px;
}

td.stitle{
	color: blue;
	text-decoration: underline;
}
td.stitle:hover{
	color: lightblue
}

#playlist-box{
	display:inline visible;
	width:100%;
	height:700px;
	border: solid 2px black;
	overflow: scroll;
	text-align: center;
}

#playlist-box h3 #playlist-box h1 #playlist-box button{
	display: inline;
	margin: 0px 0px 0px 50px
}
#playlist-box table{
	display: block;
}
#playlist-box button{
	margin: 0px 0px 0px 500px;
}

.hidden{
	display: none;
}

#toast-noti {
	visibility: hidden;
	min-width: 250px;
	margin-left: -125px;
	background-color: #333;
	color: #fff;
	text-align: center;
	border-radius: 2px;
	padding: 16px;
	position: fixed;
	z-index: 1;
	left: 50%;
	bottom: 30px;
	font-size: 17px;
  }
  
#toast-noti.show {
	visibility: visible;
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
  
#credits-popup {
	visibility: hidden;
	min-width: 250px;
	margin-left: -125px;
	background-color: #333;
	color: #fff;
	text-align: center;
	border-radius: 2px;
	padding: 16px;
	position: fixed;
	z-index: 1;
	left: 90%;
	top: 120px;
	font-size: 17px;
}

#credits-popup.show {
	visibility: visible;
}

#puppycat{
	width: 50px;
}